@charset "utf-8";
/* CSS Document */

	
#header {
	padding:0 0 1px 0;
	width: 100%;
	max-width: 1500px;
	background-color: white;
}

#header .img {
	width: 100%;
	max-height: 400px;
}

#cardGroup {
	margin:-20% auto 0 auto;
	max-width: 1000px;
	z-index: 100;
}

#cardBig {
	background-color: transparent;
	border: none;
	max-width: 420px;
	min-width: 300px;
	margin: auto;
}

#card {
	background-color: transparent;
	border: none;
	max-width: 280px;
	min-width: 200px;
	margin: auto;
}

#button {
	background-color: #FF9900;
	border: none;
}

#img {
	margin:0 auto;
	padding: 10%;
}

#footer {
	padding:0;
}

#textContainer {
	max-width: 700px;
	margin: 1% auto 10% auto;
}

h1 {
	font-size: 50pt !important;
	color: white;
	z-index: 100;
}

#footer #bkgImage {
	width: 100%;
	max-height: 380px;
}

   
